/* GEEK-BIZ QUIZ */

/* This .css file adds styling to the index.html file wich houses the framework for the initial welcome and the questions themselves */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* styling for mainQuizBox class */
.mainQuizBox {
    position: absolute;
    text-align: center;
    margin: 5% 30%;
    width: 500px;
    height: 500px;
    border: 10px solid rgb(172, 60, 60);
    border-radius: 10px;
}

p {
    padding-top: 15px;
    
}

/* styling for the 'Start' button id */
#startClock {
    background-color: #116390;
    color: rgb(226, 221, 221);
    border-radius: 5px;
    font-size: 18px;
    padding: 10px 20px;
    margin: 20px auto;
}

#quizQuestion {
    margin: 20px;
}

#timer {
    float: right;
    margin: 5px;
}
